@using HTQLSpa.Controllers;

@model IEnumerable<Order_Detail>
@{
    ViewData["Title"] = "Index";
    if (String.Equals(LoginController.account_type, "Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    if (String.Equals(LoginController.account_type, "Employee"))
    {
        Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
    }
    if (String.Equals(LoginController.account_type, "User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
}

<nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
	<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
		<div class="navbar-nav ml-auto py-0">
			<a href="" class="nav-item nav-link">Chi tiết Đơn hàng</a>
		</div>
        <a asp-controller="Order" asp-action="Index"><input type="submit" name="Submit" value="Quay lại"></a>
	</div>
</nav>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr align="center" >
            <th align="center" width="20%">
                Mã ĐH
            </th>
            <th align="center"  width="20%">
                Mã SP
            </th>
            <th align="center"  width="10%">
                Số lượng
            </th>
            <th align="center" width="50">
                Thao tác
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr align="center">
                <td>
                    @obj.OrderID
                </td>
                <td>
                    @obj.ProductID
                </td>
                <td>
                    @obj.Amount
                </td>
                <td>
                    @if (!String.Equals(LoginController.account_type, "Employee"))
                    {
                        <a asp-controller="Order" asp-action="EditDetail" asp-route-id="@obj.ID">
                            <input type="submit" name="Submit" value="Sửa">
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

