@model Product
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h4 class="text-primary-basket" style="padding: 10px">Sửa Thông tin Sản phẩm</h4>
        </div>
        <div class="mb-3">
            <label asp-for="ProductName"></label>
            <input asp-for="ProductName" class="form-control"   />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ProductDescription"></label>
            <input asp-for="ProductDescription" class="form-control"   />
            <span asp-validation-for="ProductDescription" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ProductPrice"></label>
            <input asp-for="ProductPrice" class="form-control"   />
            <span asp-validation-for="ProductPrice" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ImagePath"></label>
            <input asp-for="ImagePath" class="form-control"   />
            <span asp-validation-for="ImagePath" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="BasketImagePath"></label>
            <input asp-for="BasketImagePath" class="form-control"   />
            <span asp-validation-for="BasketImagePath" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DetailImagePath"></label>
            <input asp-for="DetailImagePath" class="form-control"   />
            <span asp-validation-for="DetailImagePath" class="text-danger"></span>
        </div>
        <a asp-controller="" asp-action="">
            <input type="submit" name="Submit" style="width:150px; padding:10px;" value="Sửa">
        </a>
        <button asp-controller="Product" asp-action="Index" style="width:150px; padding:10px;">
            Quay lại
        </button>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"   />
    }
}