@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="shop_top">
		<div class="container">
			<div class="row team_box">
				<h3 class="m_2">Commitment of service</h3>
				<div class="col-md-3 team1">
					<a class="popup-with-zoom-anim" href="#small-dialog3"><img src="~/assets/images/team1.jpg" class="img-responsive" title="continue" alt=""/></a>
					<div id="small-dialog3" class="mfp-hide">
						<div class="pop_up2">
					   		<h2>An toàn cho sức khoẻ</h2>
						</div>
					</div>
					<h4 class="m_5"><a href="#">Mọi Sản phẩm & Dịch vụ đều đạt các tiêu chuẩn về Y tế/Sức khoẻ</a></h4>
				</div>
				<div class="col-md-3 team1">	
					<a class="popup-with-zoom-anim" href="#small-dialog3"><img src="~/assets/images/team2.jpg" class="img-responsive" title="continue" alt=""/></a>
					<div id="small-dialog3" class="mfp-hide">
						<div class="pop_up2">
					   		<h2>Hiệu quả vượt trội</h2>
						</div>
					</div>
					<h4 class="m_5"><a href="#">Cam kết về chất lượng khi Khách hàng đã tin tưởng sử dụng</a></h4>
				</div>
				<div class="col-md-3 team1">
					<a class="popup-with-zoom-anim" href="#small-dialog3"><img src="~/assets/images/team3.jpg" class="img-responsive" title="continue" alt=""/></a>
					<div id="small-dialog3" class="mfp-hide">
						<div class="pop_up2">
					   		<h2>Trích xuất từ thiên nhiên</h2>
						</div>
					</div>
					<h4 class="m_5"><a href="#">Mọi Sản phẩm đều được chiết xuất từ các loài cây đã được kiểm chứng trong Đông Y</a></h4>
				</div>
				<div class="col-md-3 team1">
					<a class="popup-with-zoom-anim" href="#small-dialog3"><img src="~/assets/images/team4.jpg" class="img-responsive" title="continue" alt=""/></a>
					<div id="small-dialog3" class="mfp-hide">
						<div class="pop_up2">
					   		<h2>Dịch vụ tận tâm</h2>
						</div>
					</div>
					<h4 class="m_5"><a href="#">Đội ngũ nhân viên luôn sẵn sàng hỗ trợ 24/7</a></h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 team_bottom">
					<ul class="team_list">
					<h4>Lợi ích khi sử dụng dịch vụ của chúng tôi</h4>
					<li><a href="#">Giá thành phải chăng</a></li>
					<li><a href="#">Hỗ trợ trả góp dài hạn</a></li>
					<li><a href="#">Chế độ bảo hành nhiều năm</a></li>
					<li><a href="#">Miễn phí tư vấn và chẩn đoán liệu trình điều trị</a></li>
					</ul>
				</div>
				<div class="col-md-8">
					<ul class="team_list">
						<h4>Vision Statement</h4>
						<p class="m_7">Với các Sản phẩm/Dịch vụ chất lượng của LeafBox, chúng tôi luôn tin rằng sẽ có thể đem đến cho các quý khách hàng những trải nghiệm tốt nhất.</p>
						<img src="~/assets/images/team5.jpg" class="img-responsive" alt=""/>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>